<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FortifySource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>FreeBSD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Libc_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NetBSD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Platform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TRE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Variant_Cancelable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Variant_DarwinExtsn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Variant_DarwinExtsn_Cancelable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Variant_Inode32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Variant_Legacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Variant_Pre1050.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libc.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libc_eOS.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libsystem_c.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F51206A16C3174300AFB431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>925E7FE619E8945900AC7889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B122F0E71432B8E600AF95D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9257ECF138E1B5000B3107C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9258093138E2D3100B3107C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C942102D13900C8A004BA536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95B7ED9138F3C55004311DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95B8184138F52B0004311DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95B842A138F53DB004311DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C97A6F1E1517AF53005E1998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B53E2B138DA0610028D27C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9C2A94C138DFFD900287F00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D9432E138DB73300FB7ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D9435F138EC3E300FB7ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EB2FC9138F6D880075BB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EB326F138F75580075BB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
