<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>nxheap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>psort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>runtests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>strlcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C99475A415924ADA009FC2A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA94CCF109B8283001AC544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E423CC17199C5AC200A527F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D01DC5108E708E00FAA873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D02077108EA00500FAA873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2897C7127FCD4500B86C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
